# Renomeie este arquivo para config.properties
# e preencha com suas credenciais

db.url=jdbc:mysql://localhost:3306/taskmanager_db?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
db.usuario=root
db.senha=